img{
  margin-top: 60px;
  height: 280px;
  width: 280px;
}

/* Text box containing track data*/
div.st-emotion-cache-1788y8l.e1f1d6gn2 {
  display: block;
  align-items: center;
  text-align: center;
}

div.st-emotion-cache-1kyxreq.e115fcil2 {
  margin: auto;
  align-items: center;
  display: flex;
  align-content: center;
}

div.element-container.st-emotion-cache-8eap7d.e1f1d6gn4 {
  margin-top: 30px;
  margin-bottom: 20px;
  display:flex;
  align-items: flex-start;
}

span.st-emotion-cache-10trblm.e1nzilvr1 {
  margin-top: 10px;
}

audio#audio.stAudio {
  margin-top: 0px;
} 

div.st-emotion-cache-keje6w.e1f1d6gn3 {
  margin-bottom: 70px;
}
